# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RectanglesEditor.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\roman\GitHub\RectanglesEditor\.idea\.idea.RectanglesEditor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
